html {
    box-sizing: border-box;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/format:webp/1*_FYrJ7eG_f_3qfdxcIgsgg.jpeg);
    background-attachment: fixed;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

.blockleft,.blockright,.blockmiddle{
    background-color: yellow;
    width: 33%;
    height: 350px;
    word-wrap: break-word;
    display: inline-block; 
    *display: inline; 
    zoom: 1; 
    vertical-align: top;
    padding: 10px
}


.level2block{
    background-color: yellow;
    width: 100%;
    height: 500px;
    word-wrap: break-word;
}

body {
    font-family: sans-serif;
    padding: 5%;
    position: relative
  }

img{
  opacity: 0.8
}
img:hover{
  opacity: 1;
}

figure{
  display: inline-block;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    color: white
  }

h3 {
    font-size: 10px
}

a {
    color: blue;
  }
  
a:visited {
    color: yellowgreen;
  }
  
a:hover {
    color: orange;
  }
  
a:active {
    color: blue;
  }

footer{
  text-align: center;
  color: white
}

h6{
  text-align: center;
  color: white;
  font-size: 15px;
}

/*
@media (max-width: 768px) {
  .blockleft, .blockright, .blockmiddle {
    width: 358px;
  }

}

@media (max-width: 1199px) and (min-width: 769px) {
  .blockleft, .blockright, .blockmiddle {
      width: 358px;
    }
}*/