html {
    box-sizing: border-box;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/format:webp/1*_FYrJ7eG_f_3qfdxcIgsgg.jpeg);
    background-attachment: fixed;
    background-size: 100%;
  }

.cards1{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
}

.card1{
  flex: 1;
  margin: 10px;
  background-color: yellow;
  opacity: 80%;
  padding: 10px;
  border-radius: 2px
  }

.card1 img{
    max-width: 100%
}

.card1 .text{
    padding: 0 20px 20px
}


.cards2{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  background-color: yellow;
  width: 100%;
  word-wrap: break-word;
  opacity: 80%;
}   

.card2{
  flex: 0 0 350px;
  margin: 10px;
  border: 1px solid yellow;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  align-content: center;
  }

.card2 img{
  max-width: 80%;
  align-self: center;
  margin: 10%;
}

.card2 .text{
    padding: 0 20px 20px
}

.card2 .text > button{
    background: rgb(161, 222, 255);
    border: 0;
    color: black;
    padding: 10px;
    width: 100%;
}

body {
    font-family: sans-serif;
    padding: 5%;
    position: relative
  }

img{
  opacity: 0.8
}
img:hover{
  opacity: 1;
}

figure{
  display: inline-block;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    color: white
  }

h3 {
    font-size: 10px;
    text-align: center;
}

a {
    color: blue;
  }
  
a:visited {
    color: yellowgreen;
  }
  
a:hover {
    color: orange;
  }
  
a:active {
    color: blue;
  }

footer{
  text-align: center;
  color: white
}

h6{
  text-align: center;
  color: white;
  font-size: 15px;
}

@media screen and (max-width: 991px) { body { font-size: 12px; } }
